h1 {
    font-style: italic; text-align: center; font-family: 'Lucida Sans'; font-size: 100px;
    color: #808080;
}
h2{color#808080;
  text-align: center;
}
h3{text-align: center;


}
h4{text-align: center;text-transform: lowercase;

}
